body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: grid;
	grid-template-areas: 
		"top"
		"mid"
		"bot";
	margin: 0px auto;
	max-width: 1080px;
}

#index-div {
	display: grid;
	grid-template-areas:
		"pic content";
	grid-template-columns: 1fr 6fr;
}

#myFaceImg {
	border-radius: 100%;
	max-width: 200px;
	display: flex;
}

.mid {
	grid-area: mid;
}

#picSection {
	grid-area: pic;
	justify-content: right;
	margin: 0px 40px;
	display: flex;
}

.content {
	grid-area: content;
}

header {
	grid-area: top;
	text-align: center;
}