:root {
	--main-bg-color: teal;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px auto;
	max-width: 50em;
	font-size: 1em;
	line-height: 1.5em;
}

img {
	max-width: 100%;
	max-height: auto;
}

a {
	text-decoration: none;
}

p {
	text-align: start;
}

/* .centered {
	text-align: center;
}
*/
