---
layout: default
---

{% include header.html %}

<div class="mid" id="index-div">
	<section id="picSection">
		<img src="images/Face.png" id="myFaceImg">
	</section>
	<section class="content">
		<div id="aboutMe">
			<h3>About me</h3>
			<p>
				Hi there! I'm Carson Rueber, an undergraduate at the University of Idaho  majoring in Computer Science with a minor in French.
				Most of my time is spent on work and school, but in my free time I enjoy biking and crochet. 
			</p>
			{% include projectBox.html text="Outbreak Simulator - The project I've been working on with Polymorphic Games"
			href="https://professorpolymorphic.github.io/PolymorphicWeb/Games/OutbreakSimulator/" %}
			{% include projectBox.html text="3D Bomb Searcher - Minesweeper, but in 3 dimensions"
			href="/projects/3dBombSearcher.html" %}
		</div>
		
	</section>
</div>

{% include footer.html %}